.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-areas: "nav nav nav"
    "title title title"
    "info info info";
  z-index: -2;
}

body {
  background-color: #334443;
  color: #fffbdf;
}

p {
  font-family: Montserrat;
}

:root {
  font-size: 16px;
}

.nav-bar {
  grid-area: nav;
  background-color: white;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.title img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.title h1 {
  position: absolute;
  top: 250px;
  font-size: 8em;
  font-family: Roboto;
}

.title p {
  position: absolute;
  top: 450px;
  font-size: 2em;
  font-family: Roboto;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr .5fr;
  grid-template-areas:
    "about about"
    "skills mission"
  ;
}

.about {
  display: flex;
  justify-content: center;
  grid-area: about;
  position: relative;
  background-color: #34656d;
  border-radius: 10em;
  top: 10px;
  border-right-width: 5px;
  margin-right: 24px;
  margin-left: 24px;
}

.about h2 {
  position: absolute;
  margin-top: 20px;
  font-size: 2.5em;
  font-family: Roboto;
}

.about p {
  position: absolute;
  top: 60px;
  margin-left: 40px;
  font-size: 1.5em;
}

.skills {
  grid-area: skills;
  position: relative;
  background-color: #34656d;
  border-radius: 10em;
  top: 20px;
  border-right-width: 5px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

.skills h2 {
  position: absolute;
  margin-top: 20px;
  font-size: 2.5em;
  font-family: Roboto;
  left: 47%;
  right: auto;
}

.first-skill {
  display: flex;
  align-items: center;
}

.first-skill img {
  margin-top: 10%;
  float: left;
  max-width: 15%;
  max-height: 12.5%;
  margin-left: 10%;
}

.first-skill p {
  float: left;
  flex-basis: 80%;
  padding-top: 15%;
  padding-left: 2%;
  margin-right: 10%;
  font-size: 1.5em;
}

.second-skill {
  display: flex;
  align-items: center;
}

.second-skill img {
  margin-top: 10%;
  float: left;
  max-width: 15%;
  max-height: 12.5%;
  margin-left: 10%;
}

.second-skill p {
  float: left;
  flex-basis: 80%;
  padding-top: 10%;
  padding-left: 2%;
  margin-right: 10%;
  font-size: 1.5em;
}

.mission {
  position: relative;
  grid-area: mission;
  background-color: #34656d;
  top: 20px;
  border-radius: 10em;
  border-right-width: 5px;
  margin-right: 24px;
  margin-left: 24px;
}

.mission h2 {
  display: flex;
  margin-top: 20px;
  font-size: 2.5em;
  font-family: Roboto;
  justify-content: center;
}

.mission p {
  font-size: 1.5em;
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 10%;
}