.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-areas: "nav nav nav"
    "title title title"
    "info info info";
  z-index: -2;
}

body {
  color: white;
  font-family: Roboto;
}

:root {
  font-size: 16px;
}

.nav-bar {
  grid-area: nav;
  background-color: white;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.title h1 {
  position: absolute;
  top: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
}

.title p {
  position: absolute;
  width: 389px;
  height: 28px;
  top: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #F3F3F3;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .42fr .5fr;
  grid-template-areas:
    "about about"
    "skills mission"
  ;
}

.about {
  display: flex;
  grid-area: about;
  position: relative;
  background-color: #242424;
  justify-content: center;
}

.about h2 {
  position: absolute;
  top: 66px;
  font-size: 2.5em;
  font-family: Roboto;
}

.about p {
  position: absolute;
  width: 588.18px;
  top: 192px;
  font-size: 24px;
}

.skills {
  grid-area: skills;
  position: relative;
  background-color: #3A3A3A;
}

.skills h2 {
  position: absolute;
  margin-top: 20px;
  font-size: 2.5em;
  font-family: Roboto;
  left: 47%;
  right: auto;
}

.first-skill {
  display: flex;
  align-items: center;
}

.first-skill img {
  position: absolute;
  max-width: 15%;
  max-height: 12.5%;
  left: 50px;
  top: 200px
}

.first-skill p {
  position: absolute;
  float: left;
  flex-basis: 80%;
  left: 236px;
  top: 264px;
  font-size: 24px;
}

.second-skill {
  display: flex;
  align-items: center;
}

.second-skill img {
  position: absolute;
  max-width: 15%;
  max-height: 12.5%;
  max-width: 15%;
  max-height: 12.5%;
  right: 50px;
  top: 390px
}

.second-skill p {
  position: absolute;
  float: left;
  flex-basis: 80%;
  font-size: 24px;
  left: 50px;
  top: 428px;
}

.mission {
  position: relative;
  grid-area: mission;
  background-color: #34656d;
  top: 20px;
  border-radius: 10em;
  border-right-width: 5px;
  margin-right: 24px;
  margin-left: 24px;
}

.mission h2 {
  display: flex;
  margin-top: 20px;
  font-size: 2.5em;
  font-family: Roboto;
  justify-content: center;
}

.mission p {
  font-size: 1.5em;
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 10%;
}