.container {
  display: grid;
  grid-template-rows: .19fr 1fr;
  grid-template-areas:
    "nav"
    "content";
  z-index: -2;
}

.nav-bar {
  grid-area: nav;
  background-color: white;
}

.product-list {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: #242424;
}

.product-img {
  width: 70%;
  border-radius: 1em;
}

.product-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.product-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  width: 70%;
  height: 100%;
  transition: .5s
}

.product-overlay a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.name {
  color: white;
  font-size: 3rem;
  overflow-wrap: normal;
}

.product-overlay:hover {
  opacity: 1;
  transition: 1s;
}