{% extends 'htmlbase.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static '/css/home.css' %}" />
<title>Home</title>
{% endblock %} {% block content %}
<div class="nav-bar">
  <ul>
    <li>
      <a href="{% url 'index' %}"
        ><img
          class="logo"
          src="{% static 'images/logo.png' %}"
          alt="Ellesons logo"
      /></a>
    </li>
    <li><a class="product" href="{% url 'products' %}">Products</a></li>
    <li class="contact">
      <a href="#">Contact Us</a>
    </li>
  </ul>
</div>
<hr />

<div class="title">
  <img src="{% static 'images/placeholder.JPG' %}" alt="" />
  <h1>We Are Ellesons</h1>
  <p>A English Wood Working Business</p>
</div>

<div class="info">
  <div class="about">
    <h2>About Us</h2>
    <p>
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      Lorem ipsum Lorem ipsum
    </p>
  </div>
  <div class="skills">
    <h2>Skills</h2>
    <div class="first-skill">
      <img
        src="{% static 'images/hand-saw.png' %}"
        alt="Image of sawing wood"
      />
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
    </div>
    <div class="second-skill">
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>

      <img src="{% static 'images/welding.png' %}" alt="" />
    </div>
  </div>
  <div class="mission">
    <h2>Our Mission</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora
      provident iste corrupti accusantium maiores quia deleniti. Minus, tempora
      fugit veniam similique modi non, laudantium eligendi ullam doloribus. Ea
      nemo est perferendis magni asperiores quibusdam enim laudantium inventore
      minus, soluta fuga neque alias molestiae aspernatur facere adipisci esse
      ipsam. Sapiente consectetur maiores, a eaque est vero, aut, adipisci
      commodi molestias eligendi laborum iste labore expedita! Iusto expedita
      itaque ipsa, vero sapiente consequuntur voluptatibus eius tenetur
      voluptatem obcaecati veritatis dicta inventore molestiae. Dolorem,
      officia, atque? Necessitatibus quos voluptates vitae cumque debitis qui,
      minima, eius quis nulla consectetur perspiciatis eligendi rerum obcaecati
      alias!
    </p>
  </div>
</div>

{% endblock %}
