{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>Products</title>
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}


{% block content %}
<div class="product-list">
  {% for i in products %}
  <div class="product-card">
    <img class="product-img" src="{{i.coverImage.url}}" alt="" />
    <div class="product-overlay">
      <a href="{% url 'product' id=i.id %}"></a>
      <h2 class="name">{{i.displayName}}</h1>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}